<header class="header navbar-area privacy-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">

          <nav class="navbar navbar-expand-lg">
            <%= link_to root_path, class: 'navbar-brand' do %>
              <%= image_tag 'logo.png', alt: 'logo' %>
            <% end %>
            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
<!--                  <a href="#home" class="page-scroll active" aria-label="Toggle navigation">Home</a>-->
                  <%= link_to 'Home', root_path %>
                </li>
                <li class="nav-item">
<!--                  <a href="#features" class="page-scroll" aria-label="Toggle navigation">Features</a>-->
                  <%= link_to 'Privacy Policy', privacy_policy_path %>
                </li>
              </ul>
            </div>
            <div class="button add-list-button">
              <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn">Get it now</a>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</header>

<div class="privacy-container">
  <div class="privacy-content">
    <h1>Taskbud Privacy Policy</h1>

    <p>
      Welcome to Taskbud! Your privacy is important to us. This Privacy Policy outlines how Taskbud ("we", "us", or "our") collects, uses, and protects your personal information. By using the Taskbud Android application ("the App"), you agree to the terms and conditions outlined in this Privacy Policy.
    </p>

    <h5 class="privacy-title">Information We Collect</h5>

    <p>
      We shall employ various options in the collection of personal information. We will ensure that such processing of personal data shall be lawful, specific, and explicitly defined. Information may be voluntarily and directly collected from you, for example, during the onboarding or use of the App, or perhaps indirectly, where:

      <ul>
        <li>The data is contained in a public record, or you have made the data public.</li>
        <li>You have consented to the collection from another source.</li>
      </ul>

      Before collection of personal information and data, we shall make our best efforts, as far as is practicable, to ensure that you are reasonably informed of:

    <ul>
      <li>The use to which your personal data shall be put, your right to access your data, the right to object to processing of all or part of your data and the right to correction and deletion of false or misleading data.</li>
      <li>The fact that personal data is being collected.</li>
      <li>The purpose for which the personal data is being collected</li>
    </ul>
    </p>

    <h5 class="privacy-title">Data Retention</h5>

    <p>We retain your information only for as long as necessary for the purposes outlined in this Privacy Policy. You can delete your account at any time, which will remove your personal information and task data from our servers.</p>

    <h5 class="privacy-title">Third-Party Sharing</h5>

    <p>Taskbud does not share your personal information or task data with third parties.</p>

    <h5 class="privacy-title">Children's Privacy</h5>

    <p>Taskbud is not intended for children under the age of 13. We do not knowingly collect personal information from children.</p>
    <h5 class="privacy-title">Changes to Privacy Policy</h5>

    <p>We may update this Privacy Policy from time to time, and any changes will be reflected in the App. Please review the Privacy Policy periodically for updates.</p>

    <h5 class="privacy-title">Data deletion</h5>

    <p>Within 36 hours of us receiving your request, we shall communicate in writing with your request and inform you of the expected timeline. In all instances where legal or regulatory requirements prevent us from deleting the data as requested, Taskbud shall ensure that all Data processing (other than that legally mandated) ceases on such data immediately and that you are informed, within a reasonable time, that such deletion cannot occur but that all processing has ceased, or as the case may be.

    <h3 class="privacy-title">Contact Us</h3>

    <p>If you have any questions or concerns about this Privacy Policy, please contact us at jacknkiarie@gmail.com.

      Thank you for trusting Taskbud with your information. Task wisely!</p>
  </div>
</div>
